mat-form-field{
    width: 100%;
}

.Cpf-input{
    width: fit-content;
}

.Telefone-input .mat-form-field{
    width: 50%;
}

.Enderecos-input .mat-form-field{
    width: 33%;
}

.EnderecosComplementar-input .mat-form-field{
    width: 50%;
}